{% extends "layout/sistema.html.twig" %}
{% block titulo %}Editar &Aacute;rea{% endblock %}
{% block conteudo %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Editar &Aacute;rea</h1>
        <ol class="breadcrumb">
            <li><a href="{{ urlFor('lista_areas') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{{ urlFor('nova_area') }}">Editar &Aacute;rea</a></li>
        </ol>
    </section>        
    <!-- Main content -->
    <section class="content">
        <div class="row registrar-area">
            <div class="col-md-12">
                <div class="box">
                    <form method="post" action="{{ urlFor('atualizar_area') }}" class="form form-horizontal" id="form_editar_area">
                        <input type="hidden" name="id" value="{{ area.getId() }}" />
                        <div class="box-header with-border">                        
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="box-title">Formul&aacute;rio</h3>
                                </div>   
                                <div class="col-md-5 pull-right text-right">
                                    <button type="submit" name="btn_salvar" class="btn btn-primary">Salvar</button>
                                    <a href="{{ urlFor('lista_areas') }}">
                                        <button type="button" name="btn_voltar" class="btn btn-default">Voltar</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">                        
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Nome:</label>                                
                                <div class="col-sm-5">
                                    <input type="text" class="form-control validate[required]" name="nome" id="nome" value="{{ area.getNome() }}" placeholder="Nome completo" />
                                </div>
                            </div>							                                               
                        </div><!-- .box-body -->
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-5 pull-right text-right">
                                    <button type="submit" name="btn_salvar" class="btn btn-primary">Salvar</button>
                                    <a href="{{ urlFor('lista_areas') }}">
                                        <button type="button" name="btn_voltar" class="btn btn-default">Voltar</button>
                                    </a>
                                </div>  
                            </div>
                        </div>
                    </form>
                </div><!-- .box -->
            </div><!-- .col-md-12 -->
        </div>
    </section><!-- .content -->
{% endblock %}