{% extends "layout/sistema.html.twig" %}
{% block titulo %}Registrar Usu&aacute;rio{% endblock %}
{% block conteudo %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Registrar Usu&aacute;rio</h1>
        <ol class="breadcrumb">
            <li><a href="{{ urlFor('lista_usuarios') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{{ urlFor('novo_usuario') }}">Registrar Usu&aacute;rio</a></li>
        </ol>
    </section>        
    <!-- Main content -->
    <section class="content">
        <div class="row registrar-usuario">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">                        
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="box-title">Formul&aacute;rio</h3>
                            </div>                                                        
                        </div>
                    </div>
                    <div class="box-body">
                        <form method="post" action="{{ urlFor('salvar_usuario') }}" class="form form-horizontal">
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Nome:</label>                                
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="nome" id="nome" value="" placeholder="Nome completo" />
                                </div>
                            </div>							
                            <div class="form-group">
                                <label for="area" class="col-sm-2 control-label">&Aacute;rea:</label>
                                <div class="col-sm-5">
                                    <select name="area" class="form-control">
                                        {% for a in areas %}
                                            <option value="{{ a.getId() }}">{{ a.getNome() }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="area" class="col-sm-2 control-label">Cargo:</label>
                                <div class="col-sm-5">
                                    <select name="cargo" class="form-control">
                                        {% for c in cargos %}
                                            <option value="{{ c.getId() }}">{{ c.getLabel() }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">E-mail:</label>
                                <div class="col-sm-5">
                                    <input type="email" class="form-control" name="email" id="email" value="" placeholder="E-mail" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">CPF:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="cpf" id="cpf" value="" placeholder="CPF" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Telefone:</label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control" name="ddd_telefone" id="ddd_telefone" value="" placeholder="DDD" />
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="telefone" id="telefone" value="" placeholder="Telefone" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Celular:</label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control" name="ddd_celular" id="ddd_celular" value="" placeholder="DDD" />
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="celular" id="celular" value="" placeholder="Celular" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cliente" class="col-sm-2 control-label">Login:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="login" id="login" placeholder="Login do usuario">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="senha" class="col-sm-2 control-label">Senha:</label>
                                <div class="col-sm-3">
                                    <input type="password" class="form-control" name="senha" id="senha" placeholder="Digite a senha" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirme_senha" class="col-sm-2 control-label">Confirme a senha:</label>
                                <div class="col-sm-3">
                                    <input type="password" class="form-control" name="confirme_senha" id="confirme_senha" placeholder="Digite a senha novamente" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-5 col-sm-offset-2">
                                    <button type="submit" name="btn_salvar" class="btn btn-primary">Salvar</button>
                                    <a href="{{ urlFor('lista_usuarios') }}">
                                        <button type="button" name="btn_voltar" class="btn btn-default">Voltar</button>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- .content -->
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        
    </script>
{% endblock %}