{% extends "layout/sistema.html.twig" %}
{% block titulo %}Ver Empresa{% endblock %}
{% block conteudo %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Dados da Empresa</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Dados da Empresa</a></li>
        </ol>
    </section>        
    <!-- Main content -->
    <section class="content">
        <div class="row ver-empresa">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="box-title"><i class="fa fa-briefcase"></i> Dados</h3>
                            </div>                                                        
                            <div class="col-sm-5 pull-right text-right">
                                <a href="{{ urlFor('editar_empresa', { id : empresa.getId() }) }}">
                                    <button type="button" name="btn_editar" class="btn btn-primary">Editar</button>
                                </a>
                                <a href="{{ urlFor('configuracoes') }}">
                                    <button type="button" name="btn_voltar" class="btn btn-default">Voltar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form form-horizontal">                            
                            <div class="form-group logotipo">
                                <label for="nome" class="col-sm-2 control-label">Logotipo:</label>                                
                                <div class="col-sm-5">
                                    <p class="form-control-static"><img src="files/{{ empresa.getLogo() }}" class="img-responsive" /></p>
                                </div>
                            </div>							
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Nome Fantasia:</label>                                
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ empresa.getNomeFantasia() }}</p>
                                </div>
                            </div>							
                            <div class="form-group">
                                <label for="area" class="col-sm-2 control-label">Raz&atilde;o Social:</label>
                                <div class="col-sm-5">                                    
                                    <p class="form-control-static">{{ empresa.getRazaoSocial() }}</p>                                    
                                </div>
                                <label for="area" class="col-sm-1 control-label">CNPJ:</label>
                                <div class="col-sm-2">
                                    <p class="form-control-static">{{ empresa.getCnpj() }}</p>
                            </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">URL Login:</label>
                                <div class="col-sm-3">
                                    <p class="form-control-static">{{ empresa.getPermalink() }}</p>
                                </div>
                            </div>
                                
                            <div class="form-group"></div>
                            <div class="form-group"></div>
                            
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">CEP:</label>
                                <div class="col-sm-3">
                                    <p class="form-control-static">{{ empresa.getCep() }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Endere&ccedil;o:</label>
                                <div class="col-sm-3">
                                    <p class="form-control-static">{{ empresa.getEndereco() }}</p>
                                </div>
                                <label for="nome" class="col-sm-1 control-label">Bairro:</label>
                                <div class="col-sm-2">
                                    <p class="form-control-static">{{ empresa.getBairro() }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Cidade:</label>
                                <div class="col-sm-3">
                                    <p class="form-control-static">{{ empresa.getCidade() }}</p>
                                </div>
                                <label for="nome" class="col-sm-1 control-label">Estado:</label>
                                <div class="col-sm-3">
                                    <p class="form-control-static">{{ empresa.getEstado() }}</p>
                                </div>
                            </div>                            
                                
                            <div class="form-group"></div>
                            <div class="form-group"></div>
                            
                            
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Nome do Respons&aacute;vel:</label>
                                <div class="col-sm-3">
                                    <p class="form-control-static">{{ empresa.getResponsavel().getNome() }}</p>                                    
                                </div>                                
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">CPF:</label>
                                <div class="col-sm-3">                                    
                                    <p class="form-control-static">{{ empresa.getResponsavel().getCpf() }}</p>                                    
                                </div>                                
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">E-mail do Respons&aacute;vel:</label>
                                <div class="col-sm-3">                                    
                                    <p class="form-control-static">{{ empresa.getResponsavel().getEmail() }}</p>                                    
                                </div>                                
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Login do Respons&aacute;vel:</label>
                                <div class="col-sm-3">                                    
                                    <p class="form-control-static">{{ empresa.getResponsavel().getLogin() }}</p>                                    
                                </div>                                
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Senha:</label>
                                <div class="col-sm-3">                                    
                                    <p class="form-control-static">*****</p>                                    
                                </div>                                
                            </div>
                                
                            <div class="form-group"></div>
                            <div class="form-group"></div>
                            
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Telefone da Empresa:</label>
                                <div class="col-sm-3">
                                    {% if empresa.getTelefone() != "" %}
                                        <p class="form-control-static">({{ empresa.getDddTelefone() }}) {{ empresa.getTelefone() }}</p>
                                    {% endif %}
                                </div>
                                </div>
                            <div class="form-group">
                                <label for="cliente" class="col-sm-2 control-label">E-mail da Empresa:</label>
                                <div class="col-sm-3">
                                    <p class="form-control-static">{{ empresa.getEmail() }}</p>
                                </div>
                            </div>                            
                        </div>
                    </div><!-- /.box-body -->
                    
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-5 pull-right text-right">
                                <a href="{{ urlFor('editar_empresa', { id : empresa.getId() }) }}">
                                    <button type="button" name="btn_editar" class="btn btn-primary">Editar</button>
                                </a>
                                <a href="{{ urlFor('configuracoes') }}">
                                    <button type="button" name="btn_voltar" class="btn btn-default">Voltar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box -->
            </div><!-- /.col-md-12 -->            
        </div><!-- /.ver-empresa -->
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}