{% extends "layout/sistema.html.twig" %}
{% block titulo %}Encaminhar Atendimento{% endblock %}
{% block conteudo %}
    <div class="row encaminhar-atendimento">
        <div class="col-md-10 col-md-offset-1  bloco-principal">
            <form method="post" action="" class="form form-horizontal">
                <div class="form-group">
                    <label for="numero" class="col-sm-2 control-label">Tipo:</label>
                    <div class="col-sm-2">
						<p class="form-control-static">{{ atendimento.getTipo().getNome() }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cliente" class="col-sm-2 control-label">Cliente:</label>
                    <div class="col-sm-5">
						<p class="form-control-static">{{ atendimento.getCliente().getNome() }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cliente" class="col-sm-2 control-label">Documento:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">Sem documento</p>
                    </div>
                </div>
				<div class="form-group">
                    <label for="cliente" class="col-sm-2 control-label">Status:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{ atendimento.getStatus().getNome() }}</p>
                    </div>
                </div>
				<div class="form-group">
                    <label for="cliente" class="col-sm-2 control-label">&Aacute;rea:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{ atendimento.getArea().getNome() }}</p>
                    </div>
                </div>
				<div class="form-group">
                    <label for="cliente" class="col-sm-2 control-label">Data:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{ atendimento.getDataCriacao().format("d/m/Y") }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cliente" class="col-sm-2 control-label">T&iacute;tulo:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{ atendimento.getTitulo() }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="descricao" class="col-sm-2 control-label">Descri&ccedil;&atilde;o:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{ atendimento.getDescricao() }}</p>
                    </div>
                </div>
				<div class="form-group">
					<label for="descricao" class="col-sm-2 control-label">Coment&aacute;rios:</label>
					<div class="col-sm-10">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Coment&aacute;rio</th>
									<th>Usu&aacute;rio</th>
									<th>Data</th>
									<th>Hora</th>
								</tr>
							</thead>
							<tbody>
								{% for c in a.getComentarios() %}
									<tr>
										<td>{{ c.getDescricao() }}</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>					
								{% else %}
									<tr>
										<td colspan="4">Nenhum coment&aacute;rio cadastrado</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>				
            </form>
			<hr />
			
			<form class="form form-horizontal" action="{{ urlFor('cadastrar_resolucao_atendimento') }}">
                <div class="form-group">
                    <label for="comentario" class="col-sm-2 control-label">&Aacute;rea:</label>
                    <div class="col-sm-4">
                        <select name="area" id="area" class="form-control">
							{% for a in areas %}								
								<option value="{{ a.getId() }}">{{ a.getNome() }}</option>								
							{% endfor %}
						</select>
                    </div>
                </div>				
				<div class="form-group">
					<div class="col-sm-3 col-sm-offset-3" style="text-align: right;">
						<a href="{{ urlFor('consultar_atendimento') }}">
							<button type="button" name="voltar" class="btn btn-default">Voltar</button>
						</a>
						<button type="submit" class="btn btn-primary">Encaminhar</button>
					</div>
				</div>
			</form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    
{% endblock %}