{% extends "layout/sistema.html.twig" %}
{% block titulo %}Ver Atendimento{% endblock %}
{% block conteudo %}
    <div class="row ver-atendimento">
        <div class="col-md-10 col-md-offset-1  bloco-principal">
            <div class="row">
                <div class="col-md-12">
                    <form method="post" action="" class="form form-horizontal">
                        <fieldset>
                            <legend><i class="fa fa-ticket"></i> Atendimento:  {{ atendimento.getId() }} </legend>
                            <div class="form-group">
                                <label for="numero" class="col-sm-2 control-label">Tipo:</label>
                                <div class="col-sm-2">
                                    <p class="form-control-static">{{ atendimento.getTipo().getNome() }}</p>
                                </div>
                            </div>
                            <div class="form-group">	
                                <label for="cliente" class="col-sm-2 control-label">Cliente:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ atendimento.getCliente().getNome() }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cliente" class="col-sm-2 control-label">Documento:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">Sem documento</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cliente" class="col-sm-2 control-label">Status:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ atendimento.getStatus().getNome() }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cliente" class="col-sm-2 control-label">&Aacute;rea:</label>
                                <div class="col-sm-2">
                                    <p class="form-control-static">{{ atendimento.getArea().getNome() }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cliente" class="col-sm-2 control-label">Data:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ atendimento.getDataCriacao().format("d/m/Y") }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cliente" class="col-sm-2 control-label">T&iacute;tulo:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ atendimento.getTitulo() }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="descricao" class="col-sm-2 control-label">Descri&ccedil;&atilde;o:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ atendimento.getDescricao() }}</p>
                                </div>
                            </div> 
                            <div class="form-group">                            
                                <label for="descricao" class="col-sm-2 control-label">Coment&aacute;rios:</label>
                                <div class="col-sm-10">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="60%">Coment&aacute;rio</th>
                                                <th>P&uacute;blico</th>
                                                <th>Usu&aacute;rio</th>
                                                <th>Data</th>
                                                <th>Hora</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for c in atendimento.getComentarios() %}
                                                <tr>
                                                    <td>{{ c.getDescricao() }}</td>
                                                    <td class="text-center">
                                                        {% if c.isPublico() %}
                                                            <i class="fa fa-check-circle"></i>
                                                        {% else %}
                                                            <i class="fa fa-times-circle"></i>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ c.getUsuario().getNome() }}</td>
                                                    <td>{{ c.getDataCriacao().format("d/m/Y") }}</td>
                                                    <td>{{ c.getDataCriacao().format("H:i") }}</td>
                                                </tr>					
                                            {% else %}
                                                <tr>
                                                    <td colspan="5">Nenhum coment&aacute;rio cadastrado</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>	
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div role="tabpanel">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#adicionar-comentario" aria-controls="adicionar-comentario" role="tab" data-toggle="tab"><i class="fa fa-comments-o"></i> Adicionar Coment&aacute;rio</a></li>
                            <li role="presentation"><a href="#encaminhar-area" aria-controls="encaminhar-area" role="tab" data-toggle="tab"><i class="fa fa-mail-forward"></i> Encaminhar para &Aacute;rea</a></li>
                            <li role="presentation"><a href="#concluir" aria-controls="concluir" role="tab" data-toggle="tab"><i class="fa fa-check-circle-o"></i> Concluir</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="adicionar-comentario">
                                <form class="form form-horizontal form-comentarios" method="post" action="{{ urlFor('cadastrar_comentario_atendimento', { atendimentoId : atendimento.getId() } ) }}">                                    
                                    <div class="form-group">
                                        <label for="comentario" class="col-sm-3 control-label">Adicionar Coment&aacute;rio:</label>
                                        <div class="col-sm-9">
                                            <textarea name="comentario" class="form-control" rows="8"></textarea>
                                            <p class="form-control-static"><input type="checkbox" name="comentario_publico" value="1" checked /> Tornar coment&aacute;rio p&uacute;blico</p>
                                        </div>
                                    </div>				
                                    <div class="form-group">
                                        <div class="col-sm-3 col-sm-offset-9 text-right">                                            
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar</button>
                                        </div>
                                    </div>                                    
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="encaminhar-area">
                                <div class="dropdown">
                                    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" clas="btn btn-default">
                                        Encaminhar para
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        {% for a in areas %}
                                            <li>
                                                {% if a.getId() != atendimento.getArea().getId() %}
                                                    <a href="javascript:void(0);" data-area_id="{{ a.getId() }}">{{ a.getNome() }}</a>
                                                {% endif %}
                                            </li>	
                                        {% endfor %}
                                    </ul>                                    
                                </div>
                                    <form method="post" action="{{ urlFor('fazer_encaminhamento_atendimento', { atendimentoId : atendimento.getId() }) }}" id="form-encaminhar">
                                        <input type="hidden" name="atendimento_id" value="{{ atendimento.getId() }}" />
                                        <input type="hidden" name="area_id" value="" />
                                    </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="concluir">
                                <form class="form form-horizontal form-solucao" action="{{ urlFor('cadastrar_comentario_atendimento') }}">                                    
                                    <div class="form-group">
                                        <label for="resolucao" class="col-sm-3 control-label">Descreva a conclus&atilde;o:</label>
                                        <div class="col-sm-9">
                                            <textarea name="resolucao" class="form-control" rows="8"></textarea>
                                        </div>
                                    </div>				
                                    <div class="form-group">
                                        <div class="col-sm-3 col-sm-offset-9 text-right">                                            
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle-o"></i> Concluir</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="js/atendimento/ver_atendimento.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var VA = new VerAtendimento({{ atendimento.getId() }});
            VA.render();
        });
    </script>
{% endblock %}