{% extends "layout/sistema.html.twig" %}
{% block titulo %}Ver Atendimento{% endblock %}
{% block conteudo %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Visualizar Atendimento</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Visualizar Atendimento</a></li>
        </ol>
    </section>        
    <!-- Main content -->
    <section class="content">
        <div class="row ver-atendimento">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="box-title"><i class="fa fa-ticket"></i> Atendimento #{{ atendimento.getId() }}</h3>
                            </div>                                                        
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form form-horizontal">                            
                            <div class="form-group">
                                <label for="numero" class="col-sm-2 control-label">Tipo:</label>
                                <div class="col-sm-2">
                                    <p class="form-control-static">{{ atendimento.getTipo().getNome() }}</p>
                                </div>
                            </div>
                            <div class="form-group">	
                                <label for="cliente" class="col-sm-2 control-label">Cliente:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ atendimento.getCliente().getNome() }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cliente" class="col-sm-2 control-label">Documento:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">Sem documento</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cliente" class="col-sm-2 control-label">Status:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ atendimento.getStatus().getNome() }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cliente" class="col-sm-2 control-label">&Aacute;rea:</label>
                                <div class="col-sm-2">
                                    <p class="form-control-static">{{ atendimento.getArea().getNome() }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cliente" class="col-sm-2 control-label">Data:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ atendimento.getDataCriacao().format("d/m/Y") }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cliente" class="col-sm-2 control-label">T&iacute;tulo:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ atendimento.getTitulo() }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="descricao" class="col-sm-2 control-label">Descri&ccedil;&atilde;o:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ atendimento.getDescricao() }}</p>
                                </div>
                            </div> 
                            <div class="form-group">                            
                                <label for="descricao" class="col-sm-2 control-label">Coment&aacute;rios:</label>
                                <div class="col-sm-10">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="60%">Coment&aacute;rio</th>
                                                <th>P&uacute;blico</th>
                                                <th>Usu&aacute;rio</th>
                                                <th>Data</th>
                                                <th>Hora</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% set comentarios = (user.isCliente() ? atendimento.getComentariosPublicos() : atendimento.getComentarios() ) %} 
                                            {% for c in comentarios %}
                                                <tr>
                                                    <td>{{ c.getDescricao() }}</td>
                                                    <td class="text-center">
                                                        {% if c.isPublico() %}
                                                            <i class="fa fa-check-circle"></i>
                                                        {% else %}
                                                            <i class="fa fa-times-circle"></i>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ c.getUsuario().getNome() }}</td>
                                                    <td>{{ c.getDataCriacao().format("d/m/Y") }}</td>
                                                    <td>{{ c.getDataCriacao().format("H:i") }}</td>
                                                </tr>					
                                            {% else %}
                                                <tr>
                                                    <td colspan="5">Nenhum coment&aacute;rio cadastrado</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div role="tabpanel">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            {% if permissoes.atendimento_comentar == true %}
                                                <li role="presentation" class="active"><a href="#adicionar-comentario" aria-controls="adicionar-comentario" role="tab" data-toggle="tab"><i class="fa fa-comments-o"></i> Adicionar Coment&aacute;rio</a></li>
                                            {% endif %}
                                            {% if permissoes.atendimento_encaminhar == true %}
                                                <li 
                                                    role="presentation" 
                                                    {% if permissoes.atendimento_comentar == false %}
                                                        class="active"
                                                    {% endif %}
                                                >
                                                    <a href="#encaminhar-area" aria-controls="encaminhar-area" role="tab" data-toggle="tab"><i class="fa fa-mail-forward"></i> Encaminhar para &Aacute;rea</a></li>
                                            {% endif %}
                                            {% if permissoes.atendimento_concluir == true %}
                                                <li role="presentation"><a href="#concluir" aria-controls="concluir" role="tab" data-toggle="tab"><i class="fa fa-check-circle-o"></i> Concluir</a></li>
                                            {% endif %}
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            {% if permissoes.atendimento_comentar == true %}
                                                <div role="tabpanel" class="tab-pane active" id="adicionar-comentario">
                                                    <form class="form form-horizontal form-comentarios" method="post" action="{{ urlFor('cadastrar_comentario_atendimento', { atendimentoId : atendimento.getId() } ) }}">                                    
                                                        <div class="form-group">
                                                            <label for="comentario" class="col-sm-3 control-label">Adicionar Coment&aacute;rio:</label>
                                                            <div class="col-sm-9">
                                                                <textarea name="comentario" class="form-control" rows="8"></textarea>
                                                                <p class="form-control-static"><input type="checkbox" name="comentario_publico" value="1" checked /> Tornar coment&aacute;rio p&uacute;blico</p>
                                                            </div>
                                                        </div>				
                                                        <div class="form-group">
                                                            <div class="col-sm-3 col-sm-offset-9 text-right">                                            
                                                                <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar</button>
                                                            </div>
                                                        </div>                                    
                                                    </form>
                                                </div>
                                            {% endif %}
                                            {% if permissoes.atendimento_encaminhar == true %}
                                                <div role="tabpanel" class="tab-pane" id="encaminhar-area">
                                                    <div class="dropdown">
                                                        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" clas="btn btn-default">
                                                            Encaminhar para
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <li role="presentation" class="dropdown-header">Na minha &aacute;rea</li>
                                                            <li><a href="javascript:void(0);" data-area_id="responsavel_area">Respons&aacute;vel da minha &Aacute;rea</a></li>
                                                            <li role="presentation" class="dropdown-header">Outras &aacute;reas</li>
                                                            {% for a in areas %}
                                                                <li>
                                                                    {% if a.getId() != atendimento.getArea().getId() %}
                                                                        <a href="javascript:void(0);" data-area_id="{{ a.getId() }}">{{ a.getNome() }}</a>
                                                                    {% endif %}
                                                                </li>	
                                                            {% endfor %}
                                                        </ul>                                    
                                                    </div>
                                                    <form method="post" action="{{ urlFor('fazer_encaminhamento_atendimento', { atendimentoId : atendimento.getId() }) }}" id="form-encaminhar">
                                                        <input type="hidden" name="atendimento_id" value="{{ atendimento.getId() }}" />
                                                        <input type="hidden" name="area_id" value="" />
                                                    </form>
                                                </div>
                                            {% endif %}
                                            {% if permissoes.atendimento_concluir == true %}
                                                <div role="tabpanel" class="tab-pane" id="concluir">
                                                    <form method="post" class="form form-horizontal form-solucao" action="{{ urlFor('cadastrar_conclusao_atendimento', { atendimentoId : atendimento.getId() }) }}">                                    
                                                        <div class="form-group">
                                                            <label for="conclusao" class="col-sm-3 control-label">Descreva a conclus&atilde;o:</label>
                                                            <div class="col-sm-9">
                                                                <textarea name="conclusao" class="form-control" rows="8"></textarea>
                                                            </div>
                                                        </div>				
                                                        <div class="form-group">
                                                            <div class="col-sm-3 col-sm-offset-9 text-right">                                            
                                                                <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle-o"></i> Concluir</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col-md-12 -->            
        </div><!-- /.ver-atendimento -->
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="js/atendimento/ver_atendimento.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var VA = new VerAtendimento({{ atendimento.getId() }});
            VA.render();
        });
    </script>
{% endblock %}