<li class="treeview {% if menuPrincipal == 'dashboard' %}active{% endif %}">
    <a href="{{ urlFor('dashboard_admin') }}">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    </a>
</li>   
<li class="treeview {% if menuPrincipal == 'relatorios_gerenciais' %}active{% endif %}">
    <a href="{{ urlFor('relatorios_gerenciais_admin') }}">
        <i class="fa fa-bar-chart"></i> <span>Relat&oacute;rios Gerenciais</span>
    </a>
</li>   
<li class="treeview {% if menuPrincipal == 'cadastro_usuario' %}active{% endif %}">
    <a href="#">
        <i class="fa fa-users"></i> <span>Usu&aacute;rios</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="{{ urlFor('lista_usuarios') }}"><i class="fa fa-search"></i> Consultar</a></li>
        <li><a href="{{ urlFor('novo_usuario') }}"><i class="fa fa-plus"></i> Registrar</a></li>
    </ul>
</li>
<li class="treeview {% if menuPrincipal == 'cadastro_area' %}active{% endif %}">
    <a href="#">
        <i class="fa fa-building-o"></i> <span>&Aacute;reas</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="{{ urlFor('lista_areas') }}"><i class="fa fa-search"></i> Consultar</a></li>
        <li><a href="{{ urlFor('nova_area') }}"><i class="fa fa-plus"></i> Registrar</a></li>
    </ul>
</li>
{% if user.getUsuario().getEmpresa().isAdmin() == false %}
    <li class="treeview {% if menuPrincipal == 'cadastro_cliente' %}active{% endif %}">
        <a href="#">
            <i class="fa fa-male"></i> <span>Clientes</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ urlFor('lista_clientes') }}"><i class="fa fa-search"></i> Consultar</a></li>
            <li><a href="{{ urlFor('novo_cliente') }}"><i class="fa fa-plus"></i> Registrar</a></li>
            <li><a href="{{ urlFor('importar_clientes') }}"><i class="fa fa-database"></i> Importar clientes</a></li>
        </ul>
    </li>
{% else %}
    <li class="treeview {% if menuPrincipal == 'cadastro_cliente' %}active{% endif %}">
        <a href="#">
            <i class="fa fa-briefcase"></i> <span>Empresas</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ urlFor('lista_empresas') }}"><i class="fa fa-search"></i> Consultar</a></li>
            <li><a href="{{ urlFor('novo_empresa') }}"><i class="fa fa-plus"></i> Registrar</a></li>            
        </ul>
    </li>
{% endif %}
{% if user.getUsuario().getEmpresa().isAdmin() == false %}
    <li class="treeview">
        <a href="#">
            <i class="fa fa-ticket"></i> <span>Atendimentos</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ urlFor('consultar_atendimento') }}"><i class="fa fa-search"></i> Consultar</a></li>
            <li><a href="{{ urlFor('novo_atendimento') }}"><i class="fa fa-plus"></i> Registrar</a></li>
        </ul>
    </li>   
{% endif %}
<li class="treeview">
    <a href="{{ urlFor('configuracoes') }}">
        <i class="fa fa-gears"></i> <span>Configura&ccedil;&otilde;es</span></i>
    </a>
</li>