{% extends "layout/sistema.html.twig" %}
{% block titulo %}Editar Empresa{% endblock %}
{% block conteudo %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Editar Empresa</h1>
        <ol class="breadcrumb">
            <li><a href="{{ urlFor('lista_empresas') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{{ urlFor('editar_empresa', { id : empresa.getId() }) }}">Editar Empresa</a></li>
        </ol>
    </section>        
    <!-- Main content -->
    <section class="content">
        <div class="row editar-empresa">
            <div class="col-md-12">
                <div class="box">
                    <form method="post" action="{{ urlFor('atualizar_empresa') }}" class="form form-horizontal" id="form_editar_empresa" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{{ empresa.getId() }}" />
                        <input type="hidden" name="nome_arquivo" id="nome_arquivo" class="form-control" value="" />                                    
                        <input type="hidden" name="mimetype" id="mimetype" class="form-control" value="" />                                    
                                    
                        <div class="box-header with-border">                        
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="box-title">Formul&aacute;rio</h3>
                                </div>                       
                                <div class="col-sm-5 pull-right text-right">
                                    <button type="submit" name="btn_salvar" class="btn btn-primary">Salvar</button>
                                    <a href="{{ urlFor('lista_empresas') }}">
                                        <button type="button" name="btn_voltar" class="btn btn-default">Voltar</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">                        
                            <div class="form-group {% if empresa.getLogo() == "" %}hidden{% endif %}preview-logotipo">
                                <label for="logotipo" class="col-sm-2 control-label">&nbsp;</label>
                                <div class="col-sm-4">
                                    <img src="files/{{ empresa.getLogo() }}" class="img-responsive" />
                                </div>
                            </div>	
                            <div class="form-group barra-progresso hidden">
                                <div class="col-sm-3 col-sm-offset-2">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                            0% Completo
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="logotipo" class="col-sm-2 control-label">Logotipo:</label>                                
                                <div class="col-sm-4 input-imagem">                                    
                                    <input type="file" name="files" id="logotipo" class="form-control"  data-url="{{ urlFor('enviar_logo_empresa') }}" />                                    
                                </div>
                                <div class="col-sm-2 hidden opcoes-imagem">
                                    <button type="button" name="btn_remover_imagem" id="btn_remover_imagem" class="btn btn-danger">
                                        <i class="fa fa-ban"></i> Remover
                                    </button>
                                </div>                                
                            </div>							
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Nome Fantasia:</label>                                
                                <div class="col-sm-7">
                                    <input type="text" name="nome_fantasia" class="form-control validate[required]" value="{{ empresa.getNomeFantasia() }}" placeholder="Nome fantasia" />
                                </div>
                            </div>							
                            <div class="form-group">
                                <label for="area" class="col-sm-2 control-label">Raz&atilde;o Social:</label>
                                <div class="col-sm-3">                                    
                                    <input type="text" name="razao_social" class="form-control validate[required]" value="{{ empresa.getRazaoSocial() }}" placeholder="Raz&atilde;o Social" />
                                </div>
                                <label for="area" class="col-sm-1 control-label">CNPJ:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="cnpj" id="cnpj" class="form-control validate[required, minSize[18],maxSize[18]]" value="{{ empresa.getCnpj() }}" placeholder="00.000.000/0000-00" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">URL Login:</label>                                
                                <div class="col-sm-4">
                                    <input type="text" name="permalink" id="permalink" class="form-control validate[required]" value="{{ empresa.getPermalink() }}" placeholder="URL Login" />
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="form-group"></div>
                            
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">CEP:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="cep" id="cep" class="form-control validate[required]" value="{{ empresa.getCep() }}" placeholder="00000-000" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Endere&ccedil;o:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="endereco" class="form-control validate[required]" value="{{ empresa.getEndereco() }}" placeholder="Endereço" />
                                </div>
                                <label for="nome" class="col-sm-1 control-label">Bairro:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="bairro" class="form-control validate[required]" value="{{ empresa.getBairro() }}" placeholder="Bairro" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Cidade:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="cidade" class="form-control validate[required]" value="{{ empresa.getCidade() }}" placeholder="Cidade" />
                                </div>
                                <label for="nome" class="col-sm-1 control-label">Estado:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="estado" class="form-control validate[required]" value="{{ empresa.getEstado() }}" placeholder="Estado" />
                                </div>
                            </div>  
                            <div class="form-group"></div>
                            <div class="form-group"></div>
                            
                            
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Nome respons&aacute;vel:</label>
                                <div class="col-sm-4">
                                    <input type="text" name="nome_responsavel" id="nome_responsavel" class="form-control validate[required]" value="{{ empresa.getResponsavel().getNome() }}" placeholder="Nome do respons&aacute;vel" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">CPF:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="cpf" id="cpf" class="form-control validate[required]" value="{{ empresa.getResponsavel().getCpf() }}" placeholder="CPF" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">E-mail do Respons&aacute;vel:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="email_responsavel" id="email_responsavel" class="form-control validate[required, custom[email]]" value="{{ empresa.getResponsavel().getEmail() }}" placeholder="E-mail do Respons&aacute;vel" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Login do Respons&aacute;vel:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="login" id="login" class="form-control validate[required]" value="{{ empresa.getResponsavel().getLogin() }}" placeholder="Login do Respons&aacute;vel" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Senha:</label>
                                <div class="col-sm-3">
                                    <input type="password" name="senha" id="senha" class="form-control validate[required]" value="{{ empresa.getResponsavel().getSenha() }}" placeholder="Digite a senha" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Confirme a Senha:</label>
                                <div class="col-sm-3">
                                    <input type="password" name="confirme_senha" id="confirme_senha" class="form-control validate[required]" value="{{ empresa.getResponsavel().getSenha() }}" placeholder="Confirme a senha" />
                                </div>
                            </div>
                                
                            <div class="form-group"></div>
                            <div class="form-group"></div>
                            
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Telefone da Empresa:</label>
                                <div class="col-sm-1">
                                    <input type="text" name="ddd_telefone" id="ddd_telefone" class="form-control validate[required]" value="{{ empresa.getDddTelefone() }}" placeholder="DDD" />                                    
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="telefone" id="telefone" class="form-control validate[required]" value="{{ empresa.getTelefone() }}" placeholder="Telefone" />
                                </div>                                
                            </div>
                            <div class="form-group">
                                <label for="cliente" class="col-sm-2 control-label">E-mail da Empresa:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="email" class="form-control validate[required, custom[email]]" value="{{ empresa.getEmail() }}" placeholder="E-mail" />
                                </div>
                            </div> 
                        </div><!-- .box-body -->
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-5 pull-right text-right">
                                    <button type="submit" name="btn_salvar" class="btn btn-primary">Salvar</button>
                                    <a href="{{ urlFor('lista_usuarios') }}">
                                        <button type="button" name="btn_voltar" class="btn btn-default">Voltar</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!-- .box -->
            </div><!-- .col-md-12 -->
        </div>
    </section><!-- .content -->
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="js/lib/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="js/lib/jquery-file-upload/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="js/lib/jquery-file-upload/js/load-image.all.js"></script>
    <script type="text/javascript" src="js/lib/jquery-file-upload/js/jquery.fileupload-process.js"></script>
    <script type="text/javascript" src="js/lib/jquery-file-upload/js/jquery.fileupload-image.js"></script>        
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#form_editar_empresa").validationEngine();
            jQuery("#cpf").setMask('cpf');
            jQuery("#cnpj").setMask('cnpj');
            jQuery("#cep").setMask('cep');
            
            jQuery("#ddd_telefone, #ddd_celular").setMask("99");
            jQuery("#telefone, #celular").setMask("9999-99999");

            jQuery("#logotipo").fileupload({
                add: function (e, data) {

                    // Se é uma imagem
                    if (data.files[0].type.indexOf("image") > -1) {
                        jQuery('.barra-progresso').removeClass('hidden');
                        jQuery('.barra-progresso .progress-bar').css('width', '0%');
            
                        loadImage(data.files[0], function (img) {
                            jQuery(img)
                                    .removeAttr('width')
                                    .removeAttr('height')
                                    .addClass('img-responsive');
                            
                            jQuery("#mimetype").val(data.files[0].type);
                            jQuery(".preview-logotipo").removeClass("hidden");
                            jQuery(".opcoes-imagem").removeClass("hidden");
                            jQuery(".input-imagem").addClass("hidden");
                            jQuery(".preview-logotipo img").replaceWith(img);//attr('src', jQuery(img).attr('src'));
                        });

                        data.submit();
                    }
                    else {
                        alert("Selecione somente imagens");
                    }
                },
                progressall: function(e, data){
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    jQuery('.barra-progresso .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                    jQuery('.barra-progresso .progress-bar').text(progress + '% completo');
                    if(progress == 100){
                        jQuery(".barra-progresso .progress-bar").addClass("progress-bar-success");
                    }                    
                },
                done : function(e, data){
                    try {
                        var r = jQuery.parseJSON(data.result);
                        jQuery("#nome_arquivo").val(r['files'][0]['name']);
                    }
                    catch(e){
                        
                    }
                    console.log(data);
                }
            });

            jQuery("#btn_remover_imagem").click(function () {
                jQuery(".opcoes-imagem").addClass("hidden");
                jQuery(".preview-logotipo").addClass("hidden");
                jQuery(".barra-progresso").addClass("hidden");
                jQuery(".input-imagem").removeClass("hidden");                
            });
            
            jQuery("#form_editar_empresa").on("submit", function(){
                if(jQuery(this).validationEngine('validate')){
                    if(jQuery("#senha").val() == jQuery("#confirme_senha").val()){
                        return true;
                    }
                    else {
                        jQuery("#senha").validationEngine('showPrompt', 'As senhas não conferem', 'error', 'topRight', true);
                        jQuery("#confirme_senha").validationEngine('showPrompt', 'As senhas não conferem', 'error', 'topRight', true);
                        return false;
                    }
                }
            });
        });
    </script>
{% endblock %}