{% extends "layout/sistema.html.twig" %}
{% block titulo %}Ver Cliente{% endblock %}
{% block conteudo %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Visualizar Cliente</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Visualizar Cliente</a></li>
        </ol>
    </section>        
    <!-- Main content -->
    <section class="content">
        <div class="row ver-cliente">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="box-title"><i class="fa fa-ticket"></i> Cliente #{{ cliente.getId() }}</h3>
                            </div>                                                        
                            <div class="col-sm-6 pull-right text-right">
                                <form method="post" action="{{ urlFor('excluir_cliente') }}">
                                    <input type="hidden" name="id" value="{{ cliente.getId() }}" />
                                    <button type="submit" name="btn_excluir" class="btn btn-danger">Excluir</button>
                                    <a href="{{ urlFor('editar_cliente', { id : cliente.getId() }) }}">
                                        <button type="button" name="btn_editar" class="btn btn-primary">Editar</button>
                                    </a>
                                    <a href="{{ urlFor('lista_clientes') }}">
                                        <button type="button" name="btn_voltar" class="btn btn-default">Voltar</button>
                                    </a>
                                </form>                                
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form form-horizontal">                            
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Nome:</label>                                
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ cliente.getNome() }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="endereco" class="col-sm-2 control-label">Endere&ccedil;o:</label>                                
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ cliente.getEndereco() }}</p>
                                </div>
                                <div class="col-sm-2">
                                    <p class="form-control-static">{{ cliente.getNumero() }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cep" class="col-sm-2 control-label">Cep:</label>                                
                                <div class="col-sm-3">
                                    <p class="form-control-static">{{ cliente.getCep() }}</p>
                                </div>
                                <label for="bairro" class="col-sm-1 control-label">Bairro:</label>                                
                                <div class="col-sm-3">
                                    <p class="form-control-static">{{ cliente.getBairro() }}</p>
                                </div>								
                            </div>
                            <div class="form-group">
                                <label for="cidade" class="col-sm-2 control-label">Cidade:</label>                                									
                                <div class="col-sm-3">
                                    <p class="form-control-static">{{ cliente.getCidade() }}</p>
                                </div>
                                <label for="estado" class="col-sm-1 control-label">Estado:</label>                                
                                <div class="col-sm-3">
                                    <p class="form-control-static">{{ estados[cliente.getEstado()] }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">CPF:</label>                                
                                <div class="col-sm-3">
                                    <p class="form-control-static">{{ cliente.getCpf() }}</p>
                                </div>
                                <label for="nome" class="col-sm-1 control-label">CNPJ:</label>                                
                                <div class="col-sm-3">
                                    <p class="form-control-static">{{ cliente.getCnpj() }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="telefone" class="col-sm-2 control-label">Telefone:</label>                                
                                <div class="col-sm-5">
                                    {% if cliente.getTelefone() != "" %}
                                        <p class="form-control-static">({{ cliente.getDddTelefone() }}) {{ cliente.getTelefone() }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Celular:</label>                                
                                <div class="col-sm-5">
                                    {% if cliente.getTelefone() != "" %}
                                        <p class="form-control-static">({{ cliente.getDddCelular() }}) {{ cliente.getCelular() }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">E-mail:</label>                                
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ cliente.getEmail() }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Login:</label>                                
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ cliente.getLogin() }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Senha:</label>                                
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ cliente.getSenha() }}</p>
                                </div>
                            </div>
                            
                            
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Data Cria&ccedil;&atilde;o:</label>                                
                                <div class="col-sm-5">                                    
                                    <p class="form-control-static">{{ cliente.getDataCriacao().format("d/m/Y H:i") }}</p>                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Data Altera&ccedil;&atilde;o:</label>                                
                                <div class="col-sm-5">                                    
                                    <p class="form-control-static">{{ cliente.getDataAlteracao().format("d/m/Y H:i") }}</p>                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Data Acesso:</label>                                
                                <div class="col-sm-5">                                    
                                    <p class="form-control-static">{{ cliente.getDataAcesso().format("d/m/Y H:i") }}</p>                                    
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-5 pull-right text-right">
                                <form method="post" action="{{ urlFor('excluir_cliente') }}">
                                    <input type="hidden" name="id" value="{{ cliente.getId() }}" />
                                    <button type="submit" name="btn_excluir" class="btn btn-danger">Excluir</button>
                                    <a href="{{ urlFor('editar_cliente', { id : cliente.getId() }) }}">
                                        <button type="button" name="btn_editar" class="btn btn-primary">Editar</button>
                                    </a>
                                    <a href="{{ urlFor('lista_clientes') }}">
                                        <button type="button" name="btn_voltar" class="btn btn-default">Voltar</button>
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box -->
            </div><!-- /.col-md-12 -->            
        </div><!-- /.ver-cliente -->
    </div>
{% endblock %}

{% block scripts %}{% endblock %}